<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>

    <ul>
        {{#each products}}
        <li>
            <h3>{{this.name}}</h3>
            <p>Precio: ${{this.price}}</p>
            <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
            <button onclick="viewDetails('{{this._id}}')">Ver Detalles</button>
        </li>
        {{/each}}
    </ul>

    <!-- Botón para ver carrito -->
    <button class="verCarrito" onclick="viewCart()">Ver Carrito</button>

    <script>
        const socket = io();

        function addToCart(productId) {
            fetch(`/api/carts/default-cart/products/${productId}`, { 
                method: 'POST', 
                headers: { 'Content-Type': 'application/json' } 
            })
                .then((response) => response.json())
                .then((data) => {
                    alert('Producto agregado al carrito.');
                })
                .catch((error) => console.error('Error:', error));
        }

        function viewDetails(productId) {
            window.location.href = `/detalles/${productId}`;
        }

        function viewCart() {
            window.location.href = '/cart';
        }
    </script>
</body>
</html>
